.user-list {
    &-container {
        margin: 0.5rem;

        &__users {
            display: grid;
            grid-template-rows: max-content 1fr;
            margin-bottom: 1.5rem;
            padding: 0 1rem;
            background-color: $bgColorLightSecondary;
            box-shadow: 0px 3px 24px 0px $bgColorShadow;
            border: 1px solid $borderColor;
            border-radius: 1rem;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        margin-bottom: 0.7rem;
        color: $fontColorSecondary;
        cursor: default;
    }

    &__item {
        height: 5rem;
        display: grid;
        grid-template-columns: 1fr min-content min-content;
        align-items: center;
        column-gap: 1rem;
        border-bottom: 1px solid $borderColor;
        cursor: pointer;


        &-email {
            display: none;
        }

        &-name {
            cursor: inherit;

        }

        &-status {
            min-width: min-content;
            padding: 0.1rem 0.6rem;
            margin: 0.6rem;
            background-color: #EEEFF2;
            border-radius: 24px;
            cursor: inherit;

        }

        &.active {
            height: 7rem;

            & .user-list__item-email {
                display: flex;
            }

            & svg {
                transform: rotate(90deg);

            }

        }
    }
}