$fontColorPrimary: #3E4959;
$fontColorSecondary: #828B97;

$bgColorLightMain: #FAFAFD;
$bgColorLightSecondary: #FFFFFF;
$bgColorDarkInvitedMark: #EEEFF2;

$bgColorShadow: #828B970F;
$borderColor: #F8F8F9;